/*
--------------------------------------------------
Global
--------------------------------------------------
*/
body {    
    margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
    background-color:#5397BB;
    background-image:url(../images/backgrounds/bg.png);
    background-repeat:repeat-x;
    text-align:center;
}
h1 {
    margin: 0 0 0 0;
    padding: 20px 0 20px 60px;
    font-size:270%;
    font-weight:normal;
    letter-spacing:-1px;
    text-align:center;
}
h2 {
    margin: 0 0 0 0;
    padding: 2px 0 2px 0;
	font-size:116%;
	font-weight:normal;
    line-height:1.2em; 
}
a {
    text-decoration:none; 
}
a:hover {
    text-decoration:underline; 
}
form { 
    padding: 0; 
    margin: 0; 
}
img {
    border-style:none;
    border: 0;
}
.hilite {
    color:#ff944c;
}
.clear {
    clear:both;
}
.hide {
    visibility:hidden;
    display:none;
}
/*
--------------------------------------------------
page
--------------------------------------------------
*/
.navigation {
	width:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
    background-color:#f4f8fb;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#4D6280;
    text-align:left;
}
.navigationMenu ul {
    margin:0 0 0 0;
    padding:5px 0 5px 10px;
    list-style:none;
}
.navigationMenu li {
    margin:0 10px 0 0;
    padding:0 0 0 0;
    display:inline;
    color:#7777ff; 
}
.navigationMenu a {
    font-weight:bold;
    color:#7777ff; 
}
.page {
	width:900px;
	min-width:900px;
	margin: 25px auto 25px auto;
	padding: 10px 10px 0px 10px;
    border-style:solid;
    border-width:2px;
    border-color:#4D6280;
    border-radius:10px;
    -moz-border-radius:10px; 
    -webkit-border-radius:10px;
    background-color:#F4F8FB;
    text-align:left;
}
/*
--------------------------------------------------
toolbar
--------------------------------------------------
*/
.toolbar {
	width:100%;
	height:60px;
	margin:0;
}
.toolbarLogo {
    float:left;
    padding:3px 5px 3px 10px;
    background-color:#ff944c;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.toolbarSearch {
    float:right;
    padding:20px 0 10px 10px; 
}                
.toolbarSearchInput {
    width:600px;
    padding:2px 2px 2px 2px;
    border-color:#acbabd;
    border-style:solid;
    border-width:1px;
    background-color:#ffffff;
}
.toolbarSearchQuery {
    float:left;
    width:570px;
    margin:3px 0 0 0;
    padding:0;
    border-style:none;
    font-size:123.1%;
    font-weight:bold;
}
.toolbarSearchSubmit {
    float:right;
    width:25px;
    height:25px;
    cursor:pointer;
    border-style:none;
    background-image:url(../images/buttons/btn-search.png);
}
/*
--------------------------------------------------
title
--------------------------------------------------
*/
.title {
    margin-top:10px;
}
/*
--------------------------------------------------
columns
--------------------------------------------------
*/
.one-columns-main {
    margin:0 10px 0 10px;
}
.two-columns-main {
    float:left;
    margin:0 280px 0 10px;
}
.two-columns-side {
    float:right;
    margin:0 10px 0 -262px;
}
/*
--------------------------------------------------
Main Box
--------------------------------------------------
*/
.mainBox {
    margin-bottom:20px;
    padding:10px 10px 10px 10px;
    border-style:solid;
    border-width:1px;
    border-color:#5397BB;
    border-radius:10px;
    -moz-border-radius:10px; 
    -webkit-border-radius:10px;
}
.mainTitle {
}
.mainContent {
}
.mainDescription {
	font-size:138.5%;
    margin-bottom:10px;
}
/*
--------------------------------------------------
Side Box
--------------------------------------------------
*/
.sidebarBox {
    width:250px;
    margin:0 0 20px 0;
}
.sidebarTitle {
    padding:10px 10px 10px 10px;
	font-size:93%;
    color:#7777ff;
    text-align:left;
}
.sidebarContent {
	font-size:93%;
    color:#333333;
    text-align:left;
}
.paddedSidebarContent{
    padding:5px 10px 10px 10px;
}
/*x
--------------------------------------------------
trends
--------------------------------------------------
*/
.trends {
    text-align:justify;
    background-color:#ffffff;
}
.trendsTitle {
}
.trendsContent a {
    line-height:1.4em; 
    padding-left:0.1em;
    padding-right:0.1em;
    color:#7777ff;  
}
.t1 {
    font-size:85%; 
}
.t2 {
    font-size:100%;
}
.t3 {
    font-size:116%;
}
.t4 {
    font-size:131%;
}
.t5 {
    font-size:161.6%;  
}
.trendsContent a:link {}
.trendsContent a:visited {}
.trendsContent a:hover {
    color:#ffffff;
    background-color:#ff944c;
    text-decoration:none; 
}
.trendsContent a:active {}
/*
--------------------------------------------------
tiles
--------------------------------------------------
*/
.tilesBox {
    margin-left: auto;
    margin-right: auto;
}
.tilesContent {}
.tile {
    background-color:#ffffff;
    width:160px;
    margin: 4px 2px 2px 2px;
    float: left;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.tile:hover {
    background-color:#ff944c;
}
.tileImage img {
    display: block;
    margin: 4px auto 2px auto;
}
.tileTitle {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    line-height:1.4em; 
    padding-left:0.1em;
    padding-right:0.1em;
    color:#7777ff; 
}
.tileTitle a:link {}
.tileTitle a:visited {}
.tileTitle a:hover {
    color:#ffffff;
    text-decoration:none; 
}
.tileTitle a:active {}
.tile1 {
    font-size:85%; 
}
.tile2 {
    font-size:100%;
}
.tile3 {
    font-size:116%;
}
.tile4 {
    font-size:131%;
}
.tile5 {
    font-size:161.6%;  
}
/*
--------------------------------------------------
video
--------------------------------------------------
*/
.videoTrends {
    background-color:#95A5B7;
}
.contentSlider {
    overflow:hidden;
    position:relative;
    width:744px;
    height:94px;
    background-color:#ffffff;
}
.contentSlider ul {
    position:absolute;
    list-style:none;
    overflow:none;
    white-space:nowrap;
    padding:0;
    margin:0;
}
.contentSlider ul li {
    display:inline;
}
.contentSliderLeft {
    float:left;
    width:57px;
}
.contentSliderLeftButton {
    cursor:pointer;
    border-style:none;
    width:32px;
    height:32px;
    background-image:url(../images/buttons/btn-left.png);
    margin-top:30px;
    margin-left:10px;
}
.contentSliderRight {
    float:right;
    width:57px;
}
.contentSliderRightButton {
    float:right;
    cursor:pointer;
    border-style:none;
    width:32px;
    height:32px;
    background-image:url(../images/buttons/btn-right.png);
    margin-top:30px;
    margin-right:10px;
}
.videoTrendsThumbnail {
    padding:2px 2px 2px 2px;
}
.videoTrendsThumbnail:hover {
    background-color:#ff944c;
}
/*
--------------------------------------------------
Category List
--------------------------------------------------
*/
.categoryList {
    background-color:#FFFBDE;
}
.categoryBlock {
    float:left;
    width:200px;
    height:250px;
    padding:5px 5px 5px 5px;
}
.categoryTitle {
    padding-bottom:5px;
    text-align:center;
}
.categoryBulletList ul {
    list-style-image:url("../images/icons/bullet.gif");
    list-style-type:square;
    padding:0 0 0 10px;
    margin:0;
}
.categoryBulletList a {
    color:#0000ee;
}
.categoryBulletList a:hover {
    color:#ffffff;
    background-color:#ff944c;
    text-decoration:none; 
}
/*
--------------------------------------------------
Trends List
--------------------------------------------------
*/
.trendsListBox {
    background-color:#FAFAFA;
}
.trendsListTitle {
    text-align:center;
    background-color:#ECEFF5;
}
.trendsList {
}
/*
--------------------------------------------------
footer
--------------------------------------------------
*/
.footer {
	margin: 10px 0px 10px 0px;
	padding:5px 0 5px 0;
	font-size:85%;
	text-align:center;
}
.footer a {
    color:#7777ff; 
}
.footer a:hover {
    text-decoration:underline; 
}
/*
--------------------------------------------------
topic
--------------------------------------------------
*/
.topic {
    background-color:#ffffff;
}
.topicContent {
	font-size:116%;
    padding:5px 0 5px 0;
}
.topicTitle {
    margin-bottom:5px;
	font-size:138.5%;
    color:#7777FF;
}
.topicSummary {
}
.topicAliasesText {
    margin-bottom:10px;
	font-size:77%;
	color:Gray;
}
.topicThumbmail {
    float:left;
    padding: 5px 15px 0px 0px;
}
.topicSummaryText {
    text-align:justify;
    line-height:1.2em; 
}
.topicSource {
    margin-top:10px;
	font-size:77%;
	color:Gray;
}
.topicLinks {
    margin-top:10px;
}
/*
--------------------------------------------------
explanation
--------------------------------------------------
*/
.explanation {
    background-color:#ffffff;
}
.explanationContent {
	font-size:116%;
    padding:5px 0 5px 0;
}
.explanationTitle {
    margin-bottom:5px;
	font-size:138.5%;
    color:#7777FF;
}
.explanationText {
    text-align:justify;
    line-height:1.2em; 
}
.explanationSource {
    margin-top:10px;
	font-size:77%;
	color:Gray;
}
/*
--------------------------------------------------
search results
--------------------------------------------------
*/
.searchResults {
    background-color:#ffffff;
}
.searchResult {
    padding:5px 0 5px 0;
    line-height:1.4em; 
    text-align:left;
    border-bottom-style:dotted;
    border-bottom-color:#94A3C4;
    border-bottom-width:1px;
}
.resultTitle a {
	font-size:138.5%;
    color:#7777FF;  
}
.resultAbstract {
	font-size:108%; 
    text-align:justify;
}
.resultAbstract a {
    color:#7777FF;
}
.resultImageURL {
    float:left;
    padding: 5px 15px 0px 0px;
}
.resultURL a {
	font-size:77%;
	color:Gray;
}
.resultDate {
	font-size:77%;
	color:Gray;
}
.resultSource {
	font-size:77%;
	color:Gray;
}
.pagination {
    padding:10px 0 10px 0;
	text-align:center;
}
.paginationBox {
    margin:0px 2px 0 2px;
    padding:2px 4px 2px 4px;
	font-size:108%;
	border-style:solid;
	border-width:thin;
	border-color:#808080;
}
.paginationNonSelected:hover {
    background-color:#ff944c;
}
.paginationSelected {
	font-weight:bold; 
    background-color:#ff944c;
    color:#ffffff;
}
/*
--------------------------------------------------
ads
--------------------------------------------------
*/
.adsBox {
    margin: 0 0 20px 0;
}
.adsContentCenter {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    text-align:center;
}
/*
--------------------------------------------------
twitter widget
--------------------------------------------------
*/
.twitterSearchWidgetBox{
    margin:0 0 20px 0;
}
/*
--------------------------------------------------
credits
--------------------------------------------------
*/
.creditBox {
    background-color:#ffffff;
}
.creditEntry {
    padding:5px 0 5px 0;
    line-height:1.4em; 
    text-align:left;
    border-bottom-style:dotted;
    border-bottom-color:#94A3C4;
    border-bottom-width:1px;
}
.creditEntryTitle a {
	font-size:138.5%;
    color:#7777FF;
}
.creditEntryContent {
	font-size:108%; 
    text-align:justify;
}
.creditEntryURL a {
	font-size:77%;
	color:Gray;
}
/* Large desktop */
@media (min-width: 1200px) {


}    
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {


}    
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


}    
/* Landscape phones and down */
@media (max-width: 480px) {

}